<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ring.mapper.AdminMapper">

<!-- 관리자: 이벤트 등록 -->
		<insert id="event">
		<selectKey keyProperty="e_no" order="BEFORE" resultType="int">
			select ifnull(max(e_no),0)+1 e_no from event
		</selectKey>
		insert into event(e_type, e_title, e_start, e_end, e_summary, e_contents, e_discount) 
		values (#{e_type}, #{e_title}, #{e_start}, #{e_end}, #{e_summary}, #{e_contents}, #{e_discount})			
		</insert>
		
<!-- 관리자: 고객센터 글 등록 -->
		<insert id="board">
		insert into board(b_type, b_title, b_content) 
		values (#{b_type}, #{b_title}, #{b_content})			
		</insert>

<!-- 1:1 목록 출력 -->
	<select id="ahelplist" resultType="com.ring.model.BoardVO">
		select *
		from (
				select @rownum:=@rownum+1 rownum, help.* 
				from help, (select @rownum:=0) as tmp
		        order by h_no desc
		) as h 
		<![CDATA[
		where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]> 
	</select>
	
<!-- 1:1 목록 건수 조회 -->
	<select id="ahelpTotal" resultType="int">
		select count(*) from help
	</select>	
	
<!-- 1:1 답변 등록 -->
	<update id="ahelpAnswer">
		update help set h_an_content=#{h_an_content}, h_answer=1
		where h_no=#{h_no}
  	</update>	
		
<!-- 회원 목록 출력 -->
	<select id="userlist" resultType="com.ring.model.UserVO">
		select *
		from (
				select @rownum:=@rownum+1 rownum, user.* 
				from user, (select @rownum:=0) as tmp
		        order by signup desc
		) as u 
		<![CDATA[
		where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]> 
	</select>
	
<!-- 회원 건수 조회 -->
	<select id="userTotal" resultType="int">
		select count(*) from user
	</select>	
	
<!-- 예매현황 파악 -->			
	<select id="ticketCnt" resultType="com.ring.model.TicketVO">
		select t_date, t_time, t_a_cnt, t_j_cnt, t_c_cnt
		from ticket
	</select>	

</mapper>  