<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ring.mapper.TicketMapper">

<!-- select : 현재 진행중인 할인이벤트 출력 -->
	<select id="nowsalelist" resultType="com.ring.model.EventVO">
		select * from event
		where e_type = &apos;sale&apos; 
		<![CDATA[
		and (e_start < now() and e_end > now())
		]]> 
	</select>


<!-- 티켓 구매 -->
	<insert id="order">
		insert into ticket(id, t_date, t_day, t_time, 
						t_a_price, t_j_price, t_c_price, 
						t_a_cnt, t_j_cnt, t_c_cnt, 
						t_total, t_discount, t_final)
		values (#{id}, #{t_date}, #{t_day}, #{t_time}, 
				#{t_a_price}, #{t_j_price}, #{t_c_price}, 
				#{t_a_cnt}, #{t_j_cnt}, #{t_c_cnt},
				#{t_total}, #{t_discount}, #{t_final})				
	</insert>
	
<!-- 구매완료 확인 페이지 -->		
	<select id="noworder" resultType="com.ring.model.TicketVO">
		select t.*, e_title, e_discount 
		from ticket t join event e
		on t.t_discount = e.e_no
		where id=#{id}
		order by t_regdate desc limit 1
		
	</select>	
	

<!-- 티켓 구매내역 출력 -->
	<select id="orderlist" resultType="com.ring.model.TicketVO">
		select *
		from (
				select @rownum:=@rownum+1 rownum, ticket.* 
				from ticket, (select @rownum:=0) as tmp
				where id=#{id}
		        order by t_no desc
		) as t 
		<![CDATA[
		where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
		]]> 
	</select>
	
<!-- 티켓 구매내역 건수 조회 -->
	<select id="orderlistTotal" resultType="int">
		select count(*) from ticket
		where id=#{id}
	</select>
	
<!-- 티켓(내용 상세보기) -->		
	<select id="ticket" resultType="com.ring.model.TicketVO">
		select * from ticket where t_no=#{t_no}
	</select>
	
</mapper>