@charset "UTF-8";

/* 관리자 페이지 전체*/
#a_wrap{
	margin:0 auto;
	width:980px;
	display:flex;
}

a{
	text-decoration:none;
	color:black;
}

/* 관리자페이지 (왼쪽)메뉴 */

#a_menu{
	width:200px;
	margin:0 40px 0 0;
}

#a_menu_ul{
	list-style:none;
	padding:0;
	font-size:14px;
	font-weight:bold;
}

.a_menu_li{
	height:50px;
	padding:5px;
	border-bottom:3px solid #f8e00e;
	cursor:pointer;
}

.a_menu_li:hover{
	background-color:#f8e00e;
}

/* 관리자 페이지 메뉴 오른쪽 내용 */
#a_main{
	width:740px;
	background-color:#c9cacb;	
}

#a_pagetitle{
	font-size:20px;
	font-weight:bold;
	margin:5px 0;
	padding:0 10px;
	border-bottom:3px solid #f8e00e;	
}

/* paging 페이징 처리*/

#paging{
	font-size:20px;
	display:flex;
	justify-content:center;	
}

/* 테이블 열고닫기*/
.table_show{
	cursor:pointer;
}

.table_hide,
.table_more{
	display:none;
}

/* admin 예매현황*/

#a_ticket{
	width:700px;
	margin:10px auto;
	background-color:white;	
}

.navigation{
	text-align:center;
	padding:10px;
	font-size:20px;
}

.calendar_body{
	margin:0 auto;
}

#calendar_tr{
	background-color:#939597;
}


#calendar_tr2{
	background-color:#c9cacb;
	text-align:right;
	font-size:12px;
}

#adminCal_info{
	text-align:right;
}

.adminCal_total{
	font-weight:bold;
	color:red;
}

.cntDetail{
	margin:5px auto;
	text-align:right;
	font-size:13px;
}



/* admin_event 행사/할인/퍼레이드 등록*/

input[name="e_title"],
input[name="e_summary"]{
	width:500px;
	font-size:15px;
}

#a_event_salebox{
	display:none;
}

#a_eventSubmitBtn{
	width:150px;
	margin:10px;
	padding:5px;
	font-size:15px;
	background-color:#fbef86;
	border:none;
	border-radius:5px;
	cursor:pointer;		
}


/* admin_board 공지사항/자주하는질문 등록*/

#a_board_table{
	width:700px;
	margin:10px auto;
}

select[name="b_type"]{
	width:150px;
	font-size:15px;
}

input[name="b_title"]{
	width:550px;
	font-size:15px;
}

#a_board_submit{
	width:150px;
	margin:10px;
	padding:5px;
	font-size:15px;
	background-color:#fbef86;
	border:none;
	border-radius:5px;
	cursor:pointer;	
}

#a_baord_BtnDiv{
	display:flex;
	justify-content:right;
}

.a_board_Btn{
	width:150px;
	margin:10px;
	padding:5px;
	background-color:#fbef86;
	border:none;
	border-radius:5px;
	cursor:pointer;
}


/* admin_helplist 1:1문의 목록*/

#a_helplist_table{
	width:inherit;
	margin:10px;
}

.a_helplist_table_td{
	padding:10px;
	text-align:center;
}


/* admin_user 회원목록*/

#a_user_table{
	width:inherit;
	margin:10px auto; 
}

.a_user_table_td{
	padding:10px;
	text-align:center;
}
