@charset "UTF-8";

/* 관리자페이지 메뉴 */
#a_wrap{
	margin:0 auto;
	width:1000px;
	display:flex;
}

#a_menu{
	width:200px;
}

#a_menu_ul{
	list-style:none;
	padding:0;
	font-size:15px;	
}

.a_menu_li{
	height:40px;
	padding:5px;
	border-bottom:1px solid #ff8000;
	vertical-align:middle;
}

.a_menu_li >a{
	text-decoration:none;
	color:black;
}

.a_menu_li:hover{
	background-color:#ff8000;
}
