@charset "UTF-8";

#wrap{
	width:980px;
	margin:0 auto;
}

#pagetitle{
	font-size:25px;
	font-weight:bold;
	margin:5px 0;
	border-bottom:3px solid #f8e00e;
}

/* paging 페이징 처리*/

#paging{
	font-size:20px;
	display:flex;
	justify-content:center;	
}

#sortDiv{
	margin:10px;
	text-align:end;
}

.sortBtn{
	text-decoration:none;
	color:black;
	background-color:#8586bc;
	font-size:10px;
	padding:5px;
	border-radius:15px;		
}

/* 더보기 */
.event_more{
	display:flex;
	justify-content:right;
	cursor:pointer;
}

.event_hide{
	display:none;
}

/* event 행사일정*/

#event{
	display:flex;
	justify-content:left;
}

.event_img{
	width:300px;
	height:150px;
	margin:10px;
	padding:5px;
	background-color:#6768ab;	
}

#event_info{
	width:600px;
	margin:10px;
	padding:5px;
	background-color:#c9cacb;		
}


/* parade 행사일정*/

#parade{
	display:flex;
	justify-content:left;
}

.parade_img{
	width:300px;
	height:150px;
	margin:10px;
	padding:5px;
	background-color:#6768ab;	
}

#parade_info{
	width:600px;
	margin:10px;
	padding:5px;
	background-color:#c9cacb;		
}


/* sale 할인혜택*/

#sale_table{
	margin:0 auto;
}

.sale_img{
	width:450px;
	height:200px;
	margin:10px;
	padding:5px;
	background-color:#6768ab;	
}

#sale_title{
	width:450px;
	height:150px;
	margin:10px;
	padding:5px;
	background-color:#c9cacb;
}

#sale_info{
	display:none;
}

.sale_more{
	display:flex;
	justify-content:right;
	cursor:pointer;
}


