@charset "UTF-8";

#wrap{
	width:980px;
	margin:0 auto;
}

#pagetitle{
	font-size:25px;
	font-weight:bold;
	margin:5px 0;
	border-bottom:3px solid #f8e00e;
}

/* paging 페이징 처리*/

#paging{
	font-size:20px;
	display:flex;
	justify-content:center;	
}

#sortDiv{
	margin:10px;
	text-align:end;
}

.sortBtn{
	text-decoration:none;
	color:black;
	background-color:#dac2f0;
	font-size:10px;
	padding:5px 10px;
	border-radius:15px;		
}

/* 더보기 */
.event_more{
	display:flex;
	justify-content:right;
	cursor:pointer;	
	border-top:1px solid #dac2f0;
}

.event_hide{
	display:none;
	padding:5px 20px;
}

/* event 행사일정*/

#event{
	display:flex;
	justify-content:left;
}

#event_imgDiv{
	height:300px;
	position: relative;
}

.event_img{
	width:300px;
	height:150px;
	margin:10px;
	padding:5px;
	background-color:#dac2f0;	
}

#event_imgText{
	position:absolute;
	top:5%;
	left:25%;
	transform:translate(-50%, -50%);
	color: #fff;
	font:25px bold;
}

#event_info{
	width:600px;
	margin:10px;
	padding:5px;
	border-bottom:2px solid #dac2f0;	
}


/* parade 행사일정*/

#parade{
	display:flex;
	justify-content:left;
}

.parade_img{
	width:300px;
	height:150px;
	margin:10px;
	padding:5px;
	background-color:#dac2f0;	
}

#parade_info{
	width:600px;
	margin:10px;
	padding:5px;
	border-bottom:2px solid #dac2f0;	
}


/* sale 할인혜택*/

#sale_table{
	margin:0 auto;
}

.sale_img{
	width:450px;
	height:200px;
	margin:10px;
	padding:5px;
	background-color:#dac2f0;	
}

#sale_title{
	width:450px;
	height:150px;
	margin:10px;
	padding:5px;
	border-bottom:2px solid #dac2f0;
}

#sale_info{
	display:none;
	padding:5px 20px;
}

