@charset "UTF-8";

#header{
	margin: 0 0 30px 0;
	width:100%;
	border-bottom:1px solid #ff8000;
}


#h_size{
	width:1050px;
	margin:0 auto 15px;
}

#h_header{
	display:flex;
	justify-content:right;
}

#h_logo{
	width:100%;
	text-align:left;
	margin:0px 20px;
}

#login_no, #login_user, #login_admin{
	display:flex;
	justify-content:right;
}

.m_Btn{
	width:50px;
	height:50px;
	margin:5px;
	font-size:10px;
	text-align:center;
	background-color:orange;
	border-radius:15px;
}

/* 네비메뉴(드롭다운) */
#navimenu{
	width:600px;
	background-color:#ff8000;
}

.menu > li{
	display:inline-block;
	width:120px;
	padding:5px;
	background-color:#ff8000;
	text-align:center;
	font-weight:bold;
	position:relative;
}

.menu > li > a, .menusub >li >a{
	text-decoration:none;
	color:black;
}

.menusub{
	display:none;
	position:absolute;
	top:30px;
	right:0;
	z-index:1;
}

.menu:hover .menusub{
	display:block;
}

.menusub > li{
	list-style:none;
	display:inline-block;
	width:120px;
	margin:0;
	padding:5px;
	background-color:#ffdab5;
	text-align:center;
	font-weight:bold;	
}

.menusub > li:hover{
	background-color:#ff8000;
}

