@charset "UTF-8";

#header{
	margin:0 0 30px 0;
	width:100%;
	border-bottom:3px solid #f8e00e;
}

#h_size{
	width:980px;
	margin:0 auto 15px;
}

#h_header{
	display:flex;
	justify-content:right;
}

#h_logo{
	width:100%;
	text-align:left;
	cursor:pointer;
}

#h_logo_img{
	height:70px;
	margin: 5px;
}

#login_no, 
#login_user, 
#login_admin{
	display:flex;
	justify-content:right;
	margin:10px 30px;
}

.m_Btn{
	width:max-content;
	padding:10px;
	margin:5px;
	text-align:center;
	font-size:12px;
	background-color:#f8e00e;
	border-radius:15px;	
	cursor:pointer;
}

/* 네비메뉴(드롭다운) */
#navimenu{
	width:600px;
	background-color:#f8e00e;
}

.menu1{
	display:inline-block;
	width:120px;
	padding:5px;
	margin:5px 0;
	background-color:#f8e00e;
	text-align:center;
	font-weight:bold;
	position:relative;
}

.menu > li > a, .menusub >li >a{
	text-decoration:none;
	color:black;
}

.menusub,
.menusub_none{
	display:none;
	position:absolute;
	top:30px;
	right:0;
	z-index:1;
}

.menu:hover .menusub,
.menu:hover .menusub_none{
	display:block;
}

.sub_none_li,
.sub_li{
	list-style:none;
	display:inline-block;
	width:120px;
	padding:5px 10px;
	background-color:#fff;
	text-align:center;
	font-weight:bold;	
}

.sub_li:hover{
	background-color:#f8e00e;
}

