@charset "UTF-8";

#wrap{
	width:980px;
	margin:0 auto;
}

#pagetitle{
	font-size:25px;
	font-weight:bold;
	margin:5px 0;
	border-bottom:3px solid #f8e00e;
}


/* main 메인*/

.slider_main_img{
	height:400px;
	position: relative;
	cursor:pointer;
}

.slider_main_img >img{
	width:100%;
	height:400px;
}

.slider_main_text{
	position:absolute;
	top:80%;
	left:50%;
	transform:translate(-50%, -50%);
	color: white;
	font:30px bold;
}

#main_sub{
	display:flex;
	justify-content:space-between;
}

#main_cal, 
#main_notice{
	height:200px;
	width:480px;
	margin:10px 0;
}

#main_notice{
	padding:5px;
	background-color:#fff;
	border:2px solid #f8e00e;
}

.slider_sub_img{
	height:200px;
	position: relative;
	cursor:pointer;
}

.slider_sub_img >img{
	width:100%;
	height:200px;
}

.slider_sub_text{
	position:absolute;
	top:10%;
	left:50%;
	transform:translate(-50%, -50%);
	color: white;
}

#mainNotice_table{
	margin:0px auto;
}

#mainNotice_table >tbody >tr >td{
	border-bottom:2px solid #dac2f0;
	padding:0 10px;
}

.mainNotice_td{
	width:340px;
	height:40px;
}


/* here 오시는길*/

#here{
	display:flex;
	justify-content:space-between;
}

#here_map{
	width:500px;
	height:400px;
	background-color:#dac2f0;
}

#here_info{
	width:450px;
}

.here_img{
	width:30px;
	height:30px;
	padding:15px 0;
}

.here_txt{
	padding:0px 10px;
	font-size:13px;
}

#here_link{
	cursor:pointer;
}	
	
	
	