@charset "UTF-8";

#wrap{
	width:980px;
	margin:0 auto;
}

#pagetitle{
	font-size:25px;
	font-weight:bold;
	margin:5px 0;
	border-bottom:3px solid #ff8000;
}


/* main 메인*/

.slider_img{
	height:400px;
}

#main_sub{
	display:flex;
	justify-content:space-between;
}

#main_cal, #main_notice{
	height:200px;
	width:450px;
	margin:10px 0;
	background-color:#8080c0;
}


/* here 오시는길*/

#here{
	display:flex;
	justify-content:space-between;
}

#here_map{
	width:350px;
	height:350px;
	background-color:#8080c0;
}

#here_info{
	width:600px;
	background-color:#8080c0;
}








