@charset "UTF-8";

#wrap{
	width:980px;
	margin:0 auto;
}

#pagetitle{
	font-size:25px;
	font-weight:bold;
	margin:5px 0;
	border-bottom:3px solid #f8e00e;
}


/* select 예매 선택 페이지*/

#select{
	display:flex;
	justify-content:left;	
}

#select_detail{
	width:300px;
	margin:10px;
	padding:10px;
	background-color:#6768ab;
	
}

#selectBefore{
	text-align:center;	
}

#optBox{
	display:none;
	margin:10px 0;
	border-bottom:3px solid #f8e00e;
}

#select_time{
	width:250px;
	font-size:20px;
	margin:0 auto;
}

.select_age {
	display:flex;
	justify-content:space-between;
	align-items:baseline;
}

.select_cnt >input{
	width:50px;
}

#discountBtn{
	display:none;
    cursor: pointer;
    padding:5px;
	margin:10px auto;	
	background-color:#f8e00e;
	border-radius:5px;
}

#discountBox{
	display:none;
	justify-content:space-around;
	width:auto;
	margin:0 auto;
	padding:10px;
	border-bottom:3px solid #f8e00e;
	font-size:80%;	
}

#finalBox{
	display:none;
	margin:10px 0;	
}



/* order 주문페이지 */
#order_table{
	width:700px;
	margin:20px auto 0;
	padding:10px 0;
	text-align:center;
	border-bottom:3px solid #f8e00e;	
	background-color:#c9cacb;
}

.order_table2{
	width:700px;
	margin:0 auto;
	padding:10px 0;
	text-align:center;
	border-bottom:3px solid #f8e00e;	
	background-color:#c9cacb;	
}

.order_tableT{
	padding:10px;
	background-color:#fbef86;
	border-radius:5px;	
}

.shortcut{
	width:150px;
	margin:10px;
	padding:5px;
	background-color:#f8e00e;
	border:none;
	border-radius:5px;
	cursor:pointer;
}



/* orderlist 주문내역*/

#orderlist{
	display:flex;
	justify-content:left;	
}

#orderlist_img{
	width:150px;
	height:150px;
	margin:10px;
	background-color:#8080c0;		
}

#orderlist_table{
	width:800px;
	margin:10px;
	background-color:#8080c0;
}

#orderlist_table >tr{
	margin:10px;
	padding:10px;
}


/* ticket 티켓*/
#ticket_img{
	width:700px;
	margin:10px auto;
	padding:20px;
	background-color:#8080c0;		
}

#ticket_table{
	width:500px;
	height:400px;
	margin:10px auto;
	background-color:white;
	text-align:center;
}

#ticket_info{
	width:500px;
	margin:10px auto;
	background-color:white;
	text-align:center;
	font-size:10px;		
}