@charset "UTF-8";

#wrap{
	width:980px;
	margin:0 auto;
}

#pagetitle{
	font-size:25px;
	font-weight:bold;
	margin:5px 0;
	border-bottom:3px solid #f8e00e;
}


/* paging 페이징 처리*/

#paging{
	font-size:20px;
	display:flex;
	justify-content:center;	
	padding:5px;	
}

a{
	text-decoration:none;
	color:black;	
}


/* select 예매 선택 페이지*/

#select{
	display:flex;
	justify-content:left;	
}

#select_detail{
	width:300px;
	margin:10px;
	padding:10px;
	background-color:#fbef86;
	
}

#selectBefore{
	text-align:center;	
}

#selectBefore >img{
	width:30px;
}

#optBox{
	display:none;
	margin:10px 0;
	border-bottom:3px solid #f8e00e;
}

#select_time{
	width:250px;
	font-size:20px;
	margin:0 auto;
}

.select_age {
	display:flex;
	justify-content:space-between;
	align-items:baseline;
}

.select_cnt >input{
	width:50px;
}

#discountBtn{
	display:none;
    cursor: pointer;
    padding:5px;
	margin:10px auto;	
	background-color:#dac2f0;
	border-radius:5px;
	font-size:12px;
}

#discountBox{
	display:none;
	justify-content:space-around;
	width:auto;
	margin:0 auto;
	padding:10px;
	border-bottom:3px solid #f8e00e;
}

.discountBox_td1{
	width:50px;
}

#finalBox{
	display:none;
	text-align:right;
	margin:10px 0;		
}

#orderBtn{
    cursor: pointer;
    padding:5px;
	margin:10px auto;	
	background-color:#dac2f0;
	border:none;
	border-radius:5px;
	font-size:20px;
}



/* order 주문페이지 */

#order_table{
	width:700px;
	margin:20px auto 0;
	padding:10px;
	text-align:center;
	border-bottom:3px solid #f8e00e;
}

.order_table2{
	width:700px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	border-bottom:3px solid #f8e00e;
}

.order_tableT{
	padding:10px;
	width:210px;
	background-color:#fbef86;
	border-radius:5px;	
}

.order_tableT_null{
	padding:10px;
	width:200px;
}

#shortcutDiv{
	text-align:center;
}

.shortcut{
	width:200px;
	margin:10px;
	padding:5px;
	background-color:#dac2f0;
	border:none;
	border-radius:5px;
	cursor:pointer;
}



/* orderlist 주문내역*/

#orderlist_div{
	display:flex;
	justify-content:center;
	width:700px;
	margin:0 auto;
	border-bottom:3px solid #dac2f0;
}

.orderlist_img{
	width:150px;
	height:150px;
	margin:10px;
	background-color:#dac2f0;		
}

.orderlist_random{
	width:130px;
	height:150px;
	text-align:center;
}

#orderlist_table{
	width:500px;
	height:150px;
	margin:10px;
	background-color:#fff;
	padding:10px;	
	text-align:center;
}

#orderlist_ticketBtn{
	width:100px;
	background-color:#dac2f0;
	border-radius:10px;
}

/* ticket 티켓*/
#ticket_img{
	width:700px;
	margin:10px auto;
	padding:20px;
	background-color:orange;		
}

#ticket_table{
	width:600px;
	height:500px;
	margin:10px auto;
	background-color:#fff;
	text-align:center;
}

#ticket_info{
	width:600px;
	margin:10px auto;
	padding:5px;
	background-color:#c9cacb;
	text-align:center;
	font-size:10px;		
}